[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"

[packages]
pandas = "*"
pip-autoremove = "*"
matplotlib = "*"
pipdeptree = "*"
rasterio = "*"
keras = "*"
tensorflow = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
